
/* utilities */
h1,
h2,
h3,
h4,
p{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.title{
    text-align: center;
    
}

.box_contain{
    width: 100%;
    height: 355px;
    background-color: grey;
    margin: 40px auto;
    border-radius: 10%;
}

/* header */

.header_main{
    background-color: #2c3e50;
        
}



.header_main .header_container{
    padding: 20px 0;
}
.header_main h3{
    color: white;
    font-size: 20px;
    padding-top: 5px;
}

.header_main h4{
    color: white;
    font-size: 15px;
    padding-top: 5px;
    
}
    
    

    
    
    


.header_main .box_ham{
    
    background-color: grey;
    width: 43px;
    height: 32px;
    border-radius: 10%;
    text-align: right;
    

}


/* section jumbotron */
.section_jumbotron{
    background-color: #1abc9c;
    min-height: 490px;
    
}


/* section portfolio */
.section_portfolio{
    background-color: white;
    
}



.section_portfolio .title h2{
    font-size: 30px;
    margin-top: 60px;
}

/* section about */
.section_about{
    background-color: #1abc9c;
    

}

.section_about .title h2{
    font-size: 30px;
    margin-top: 60px;
    color: white;
}

/* section contact */
.section_contact{
    background-color: white;
    
}

.section_contact .title h2{
    font-size: 30px;
    margin-top: 60px;
    color: black;
}

.section_contact .box_contain{
    width: 70%;
    height: 355px;
    background-color: grey;
    margin: 40px auto;
    border-radius: 10%;

}

/* top footer */
footer .top_footer{
    background-color: #3a546d;
    
}

.top_footer .box_contain{
    width: 65%;
    height: 315px;
    background-color: grey;
    margin: 40px auto;
    border-radius: 10%;
}

/* bottom footer */
footer .bottom_footer{
    background-color: #2c3e50;
    
}

.bottom_footer .box_contain{
    width: 65%;
    height: 40px;
    background-color: grey;
    margin: 40px auto;
    border-radius: 10%;
}