
/* utilities */
h1,
h2,
h3,
p{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

/* header */

.header_main{
    background-color: #2c3e50;
    min-height: 90px;
    
}

.header_main h1{
    color: white;
    padding-top: 5%;
    
    

}

.header_main .box_ham{
    margin-left: 40%;
    margin-top: 25%;
    background-color: grey;
    width: 43px;
    height: 32px;
    border-radius: 10%;
    text-align: right;
    

}


/* section jumbotron */
.section_jumbotron{
    background-color: #1abc9c;
    min-height: 490px;
    
}

.section_jumbotron .box_jumbotron{
    width: 443px;
    height: 418px;
    background-color: grey;
    margin: 40px auto;
}
/* section portfolio */
.section_portfolio{
    background-color: white;
    min-height: 2335px;
}

/* section about */
.section_about{
    background-color: #1abc9c;
    min-height: 700px;

}

/* section contact */
.section_contact{
    background-color: white;
    min-height: 595px;
}

/* top footer */
footer .top_footer{
    background-color: #3a546d;
    min-height: 450px;
}

/* bottom footer */
footer .bottom_footer{
    background-color: #2c3e50;
    min-height: 108px;
}